
bin/Debug/BloodyHell.exe
bin/Debug/BloodyHell.exe.config
bin/Debug/BloodyHell.pdb
obj/Debug/BloodyHell.csproj.FileListAbsolute.txt
obj/Debug/BloodyHell.csproj.GenerateResource.cache
obj/Debug/BloodyHell.csprojAssemblyReference.cache
obj/Debug/BloodyHell.exe
obj/Debug/BloodyHell.pdb
obj/Debug/BloodyHell.Properties.Resources.resources
